body {
    background-color: lightslategray;
    font-family: 'Montserrat', sans-serif;
}
.container {
    margin: 0 auto;
    width: 510px;
}
.game-container {
    margin-top: 30px;
    position: relative;
    /*padding: 8px;*/
    cursor: default;
    -webkit-touch-callout: none;
    -ms-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -ms-touch-action: none;
    touch-action: none;
    /*background: #bbada0;*/
    border-radius: 6px;
    width: 510px;
    height: 510px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.grid-container {
    position: absolute;
    z-index: 1;
}
.grid-row {
    margin-bottom: 10px;
}
.grid-row:last-child {
    margin-bottom: 0;
}
.grid-row:after {
    content: "";
    display: block;
    clear: both;
}
.grid-cell {
    width: 90px;
    height: 90px;
    margin-right: 10px;
    float: left;
    border-radius: 3px;
    background: rgba(238, 228, 218, 0.62);
    cursor: pointer;
}
.grid-cell:last-child {
    margin-right: 0;
}
.tile-container {
    position: absolute;
    z-index: 2;
}
.tile, .tile .tile-inner, .red-tile {
    width: 89px;
    height: 89px;
    line-height: 89px;
}
.tile {
    position: absolute;
    -webkit-transition: 100ms ease-in-out;
    -moz-transition: 100ms ease-in-out;
    transition: 100ms ease-in-out;
    -webkit-transition-property: -webkit-transform;
    -moz-transition-property: -moz-transform;
    transition-property: transform;
}
.tile .tile-inner {
    border-radius: 3px;
    background: #eee4da;
    text-align: center;
    font-weight: bold;
    z-index: 10;
    font-size: 50px;
}
.tile.tile-generic .tile-inner {
    background: rgb(255, 230, 204);
    box-shadow: 0 0 30px 10px rgba(243, 215, 116, 0), inset 0 0 0 1px rgba(255, 255, 255, 0);
    cursor: default;
}
.test-anim {
    -webkit-transform: translate(0px, 67px);
    -moz-transform: translate(0px, 67px);
    transform: translate(0px, 67px);
    transition-duration: 5s;
}
.fade-to-black {
    background: transparent;
    transition: background 200ms ease-in-out;
    -moz-transition: background 200ms ease-in-out;
    -webkit-transition: background 200ms ease-in-out;
    cursor: default;
}
.red-tile {
    border-radius: 3px;
    background: #CE0E0E;
    z-index: 6;
}
.game-message {
    display: none;
    padding-right: 30px;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(177, 188, 193, 0.75);
    z-index: 100;
    padding-top: 40px;
    text-align: center;
    -webkit-animation: fade-in 800ms ease 1200ms;
    -moz-animation: fade-in 800ms ease 1200ms;
    animation: fade-in 800ms ease 1200ms;
    -webkit-animation-fill-mode: both;
    -moz-animation-fill-mode: both;
    animation-fill-mode: both;
}
.game-message p {
    font-size: 60px;
    font-weight: bold;
    height: 60px;
    line-height: 60px;
    margin-top: 222px;
}
.game-message .lower {
    display: block;
    margin-top: 29px;
}
.game-message a {
    display: inline-block;
    background: rgb(85, 164, 167);
    border-radius: 3px;
    padding: 0 20px;
    text-decoration: none;
    color: #f9f6f2;
    height: 40px;
    line-height: 42px;
    cursor: pointer;
    margin-left: 9px;
}
.game-message a.keep-playing-button {
    display: none;
}
.game-message .score-sharing {
    display: inline-block;
    vertical-align: middle;
    margin-left: 10px;
}
.game-message.game-won {
    color: #f9f6f2;
}
.game-message.game-won a.keep-playing-button {
    display: inline-block;
}
.game-message.game-won a.retry-button {
    display: none;
}
.game-message.game-won, .game-message.game-over {
    display: block;
}
.game-message.game-won p, .game-message.game-over p {
    -webkit-animation: slide-up 1.5s ease-in-out 2500ms;
    -moz-animation: slide-up 1.5s ease-in-out 2500ms;
    animation: slide-up 1.5s ease-in-out 2500ms;
    -webkit-animation-fill-mode: both;
    -moz-animation-fill-mode: both;
    animation-fill-mode: both;
}
.game-message.game-won .mailing-list, .game-message.game-over .mailing-list {
    -webkit-animation: fade-in 1.5s ease-in-out 2500ms;
    -moz-animation: fade-in 1.5s ease-in-out 2500ms;
    animation: fade-in 1.5s ease-in-out 2500ms;
    -webkit-animation-fill-mode: both;
    -moz-animation-fill-mode: both;
    animation-fill-mode: both;
}
.knight-appear {
    z-index: 20;
    -webkit-animation: pop 200ms ease 100ms;
    -moz-animation: pop 200ms ease 100ms;
    animation: pop 200ms ease 100ms;
    -webkit-animation-fill-mode: backwards;
    -moz-animation-fill-mode: backwards;
    animation-fill-mode: backwards;
}
@keyframes pop {
    0% {
        -webkit-transform: scale(0);
        -moz-transform: scale(0);
        transform: scale(0);
    }
    50% {
        -webkit-transform: scale(1.2);
        -moz-transform: scale(1.2);
        transform: scale(1.2);
    }
    100% {
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
        transform: scale(1);
    }
}
@-webkit-keyframes fade-in {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
@-moz-keyframes fade-in {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
@keyframes fade-in {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
.blank-grid-cell {
    background-color: transparent;
    cursor: default;
}
.game-title, .game-objective {
    text-align: center;
    color: whitesmoke;
}
.game-title {
    font-size: 50px;
}
.game-objective {
    margin-top: 20px;
    font-size: 17px;
}
.game-message .social {
    display: inline-block;
    margin-left: 40px;
}
.restart-button {
    display: inline-block;
    background: rgb(85, 164, 167);
    border-radius: 3px;
    padding: 0 14px;
    text-decoration: none;
    color: #f9f6f2;
    height: 40px;
    line-height: 42px;
    cursor: pointer;
    text-align: center;
}
.intro {
    margin-top: 10px;
    text-align: center;
}

.intro .intro-text {
    color: whitesmoke;
    margin-right: 10px;
}
